### Import needed libraries

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import json

**Import the dataset**

In [2]:
data = pd.read_csv('Downloads/dialect_dataset.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  int64
 1   dialect  458197 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

**Check for null values**

In [4]:
data.isnull().sum()

id         0
dialect    0
dtype: int64

In [5]:
id_list = list(data.id)
len(id_list)

458197

**Split the id list to small lists with 1000 items to can use it in the POST request**

In [6]:
chunked_id_list = []
chunk_size = 1000
for i in range( 0, len(id_list), chunk_size):
  chunked_id_list.append(id_list[i: i+chunk_size])
len(chunked_id_list)

459

**Quoted the id to can send it to the POST request**

In [7]:
final_lst = []
for i in chunked_id_list:
  lst = str(i)
  quoted_lst = re.findall(r'[\w]+', lst)
  final_lst.append(quoted_lst)
len(final_lst)

459

**Got the tweets from the POST request**

In [11]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
data2 = {}
for i in final_lst:
    response = requests.post(url, json = i)
    data2.update(response.json())

**Make DataFrame from the tweets dataset**

In [25]:
tweets_dataset = pd.DataFrame(data2.items(), columns=['id','tweets'])

**Combine the two datasets**

In [28]:
data['tweets'] = tweets_dataset.tweets

In [29]:
data.head()

,id,dialect,tweets
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [30]:
data.to_csv('arabic_dialect.csv', header=True, index=False)